
.video_list {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;;
    flex-wrap: wrap;
    min-width: 1010px;
    margin-bottom: 12px;
}
.video_list_item {
    position: relative;
    box-sizing: border-box;
    width: 20%;
    min-width: 215px;
    margin: 0 8px 40px;
    background-color: #fff;
    text-decoration: none;
    border-radius: 8px;
}
.video_pic_link {
    display: block;
    position: relative;
    width: 100%;
    height: 135px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    color: #000;
}
.video_list .video_pic_link:hover {
    color: #fff;
}
.video_pic_wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #000;
}
.video_pic {
    display: inline-block;
    height: 100%;
    min-height: 130px;
}
.video_mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video_status {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px 8px 6px;
    width: 100%;
    height: 38px;
    z-index: 2;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 14px;
}
.video_status_left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}
.video_status_item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-right: 12px;
}
.video_status_icon {
    width: 18px;
    height: 18px;
}
.video_status_duration {
    
}
.video_info {
    box-sizing: border-box;
    width: 100%;
    height: 72px;
    margin: 8px 0 4px;
    padding: 0 6px;
}
.video_info_title_link {
    display: inline-block;
    height: 44px;
    color: #000;
    cursor: pointer;
}
.video_info_title_link:hover .video_info_title {
    color: #00AEEC;
}
.video_info_title {
    line-height: 22px;
    padding-right: 16px;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 18px;
    margin: 0;
}
.video_info_sub {
    margin: 4px 0;
    height: 16px;
    font-size: 14px;
}
.video_info_sub_link {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}
.video_info_sub_link:hover {
    color: #00AEEC;
}
.video_info_author {
    margin-left: 2px;
    flex: 1;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-break: break-word;
    -webkit-line-clamp: 1;
}
.video_info_date {
    margin-left: 4px;
}

.keyword {
    color: #f25d8e;
}