.terminal {
  position: fixed;
  inset: 0;
  background-color: #000;
  background-position: 50% 50%;
  background-size: cover;
}
.terminal_mask {
  display: grid;
  grid-template-areas: '.'
                      'command';
  grid-template-rows: auto
                      1fr;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, .6);
  overflow-y: auto;
  color: #ddd;
}
.terminal_user {
  padding-right: 8px;
}
.terminal_input {
  display: flex;
  align-items: center;
  justify-content: center;
}
.command_result {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.command_result_status {
  box-sizing: border-box;
  padding: 0 6px;
  margin: 2px 0;
  margin-right: 10px;
  line-height: 24px;
  color: #fff;
  font-size: 16px;
}
.command_result_status.success {
  background-color: #52c41a;
}
.command_result_status.warn {
  background-color: #faad14;
} 
.command_result_status.error {
  background-color: #ff4d4f;
}
.input_command {
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: inherit;
}
.terminal_hint {
  color: #999;
}
.terminal_command {
  grid-area: command;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  line-height: 30px;
  font-size: 20px;
}
.command_txt {
  width: 100%;
  line-height: 30px;
}
.command_iframe {
  width: 100%;
  min-height: 30px;
  line-height: 30px;
}