
.App {
  font-family: courier-new, courier, monospace;
  /* text-align: center; */
  font-size: 20px;
  line-height: initial;
}

.App a {
  color: #ddd;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
::-webkit-scrollbar-track {

}
::-webkit-scrollbar-button {
  display: none;
}