.table_wrapper {
    background-color: #fafafa;
    border-left: 1px solid rgba(0, 0, 0, .06);
}
.table_row {
    max-height: 150px;
    overflow-y: auto;
}
.table_out_header {
    padding: 8px 30px;
}
